/*creating variable*/
:root{
    --primary-purple:#e2d3eb;
    --secondary-blue:#9ed9db;
    --third-gray:#616c7d;
    --four-white:#eeebf2;
}


/*general properties*/
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: var(--third-gray);
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 30px;
    font-weight: bold;
}

header{
   background-color:var(--third-gray); 
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

header h1{
    font-weight: bold;
    background-color: var(--secondary-blue);
    padding: 0px 5px 0px 30px;
    display: flex;
    align-items: center;
    margin: 3px 5px 20px 0px;
}

header a{
    text-decoration: none;
    color: var(--third-gray);
}

/*flex for navigator*/
header nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

/*nav apperance*/
header nav ul li a{
    margin: 40px 30px 0px 30px;
    color: var(--secondary-blue);
    font-weight: lighter; 
    text-decoration: none;
    border-bottom: 3px solid var(--secondary-blue);
}

header nav ul li a:hover, .info a:hover{
    background: var(--secondary-blue);
    color: var(--four-white);
}


.hero{
    background-image: url("../images/hero-background.png");
    height: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 40px;
}

.hero img{
    height: 50%;
}

/*flex for hero section*/
.hero h2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    background: var(--secondary-blue);
    font-size: 20px;
}

/*flex for about section*/
.about{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background: var(--primary-purple);
    padding-top: 50px;
}

.about p{
    display: flex;
    padding-left: 70px;
    width: 90%;
    text-align: center;
    justify-content: center;
}

/* grey border for entire page*/
.border{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--primary-purple);
    flex-wrap: wrap;
    border-left: 3px solid var(--third-gray);
    width: 75%;
}


/*flex for work secion*/
.work-container{
    display: flex;
    background: var(--primary-purple);
    justify-content: flex-start;
    align-items:center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.section-heading{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 15%;
}

/*align border */
.section-heading h2{
    padding: 0px 5px 0px 58px;
}

/*flex for projects*/
.projects-container{
    background: var(--primary-purple);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/*adjust title of project*/
.title{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid var(--third-gray);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 1em;
}

.title a{
    color: var(--four-white);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    border: 1px solid var(--third-gray);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

/*image adjustment*/
#run-buddy{
    background-image: url(../images/run-buddy1.PNG);
}

#horiseon{
    background-image: url(../images/horiseon1.PNG);
}

#code{
    background-image: url(../images/code.PNG);
}

#calculator{
    background-image: url(../images/calculator.PNG);
}

#run-buddy, #horiseon, #code, #calculator{
    width: 40%;
    height: 300px;
    background-size: 100% 100%;
}

.title:hover{
    transform: scale(1.05);
    transition: all .5s;
}
/*End of image adjustment*/

/*flex for cantact info*/
.resume{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--primary-purple);
    padding-top: 50px;
    flex-wrap: wrap;
}

.info{
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

/*adjust components in resume*/
.info a{
    margin: 30px auto;
    text-decoration: none;
    border-bottom: 3px solid var(--secondary-blue);
    color: var(--third-gray);
}