

body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #616c7d;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 30px;
    font-weight: bold;
}

header{
   background-color:#616c7d; 
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

header h1{
    font-weight: bold;
    background-color:#9ed9db;
    padding: 0px 5px 0px 30px;
    display: flex;
    align-items: center;
    margin: 3px 5px 20px 0px;
}

header a{
    text-decoration: none;
    color: #616c7d;
}


header nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a{
    margin: 40px 30px 0px 30px;
    color: #9ed9db;
    font-weight: lighter; 
    text-decoration: none;
    border-bottom: 3px solid #9ed9db;
}

header nav ul li a:hover, .info a:hover{
    background: #9ed9db;
    color: #eeebf2;
}


.hero{
    background-image: url("../images/hero-background.png");
    height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 40px;
}

.hero h2{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    background: #9ed9db;
    font-size: 20px;
}


.about{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* background:green; */
    background: #e2d3eb;
    padding-top: 50px;

}


.about p{
    display: flex;
    padding-left: 70px;
    /* background: chocolate; */
    width: 90%;
    text-align: center;
    justify-content: center;
}

.border{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #e2d3eb;
    flex-wrap: wrap;
    border-left: 3px solid #616c7d;
    width: 75%;
}


/*Beginning of title location adjustment*/

.work-container{
    display: flex;
    background: #e2d3eb;
    justify-content: flex-start;
    align-items:center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.section-heading{
    display: flex;
    /* background: orange; */
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 15%;
}

/*align border */
.section-heading h2{
    padding: 0px 5px 0px 58px;
}

.projects-container{
    background: #e2d3eb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.title{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid #616c7d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 1em;
}


.title a{
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    border: 1px solid #616c7d;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#run-buddy{
    background-image: url(../images/run-buddy1.PNG);
    width: 40%;
    height: 300px;
    background-size: 100% 100%;
}

#horiseon{
    background-image: url(../images/horiseon1.PNG);
    width: 40%;
    height: 300px;
    background-size: 100% 100%;
}

#code{
    background-image: url(../images/code.PNG);
    width: 40%;
    height: 300px;
    background-size: 100% 100%;
}

#calculator{
    background-image: url(../images/calculator.PNG);
    width: 40%;
    height: 300px;
    background-size: 100% 100%;
}

.title:hover{
    transform: scale(1.05);
    transition: all .5s;
}

/*End of title location adjustment*/



.resume{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #e2d3eb;
    /* background: green; */
    padding-top: 50px;
    flex-wrap: wrap;
}


.info{
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    width: 100%;
    /* background: orange;    */
}

.info a{
    margin: 30px auto;
    text-decoration: none;
    border-bottom: 3px solid#9ed9db;
    color: #616c7d;
}